*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(17, 16, 16);
}
nav{
    display: flex;
    justify-content: space-between; 
}
.logo{
    display: flex;
    font-weight: 600;
    gap: 10px;
}
.logo img{
    width: 25px;
    margin-top: -5px;
}
.header nav {
    background-color: rgb(105, 105, 171);
    padding: 20px 30px;
}
.header .navbar ul{
    display: flex;
    gap: 20px;
}
.header .navbar ul li a{
    color:black;
    font-weight: 600;
    transition: 0.3s;
}
.header .navbar ul li a:hover{
    color: red;
}
nav .fa-bars {
    color: white;
    font-size: 20px;
    display: none;
}


 









.about{
    padding: 50px 50px;
}
.title{
    color: #d3ad7f;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.title span:nth-child(2){
    color: white;
}
.about-card{
    background-color: #13131a;
    display: flex;
    align-items: center;
    color: white;
}
.about-img img{
    width: 100%;
}
.about-text{
    width: 50%;
    padding: 40px;
}
.about-text h1{
    font-size: 30px;
}
.about-text p{
    margin: 40px 0px;
    line-height:30px ;
}

button{
    border: none;
    background-color:rgb(212, 98, 98);
    color: white;
    padding: 14px 30px;
    text-transform: capitalize;
    transition: 0.3s;
    border-radius: 20px;

}
button:hover{
    letter-spacing: 3px;
}


























.title{
    text-align: center;
    font-size: 25px ;
    margin-top: 15px;
    font-weight: 800;
}
.our-card{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
   
    gap: 45px;
}
.our-card .card{
    padding: 15px 10px;
    width: 200px ;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow:0px 0px 15px rgb(217, 244, 246);
    border: 0px solid rgb(177, 205, 216);
    color: black;
}
.card-img{
    text-align: center;
    height: 160px;
}
.card img{
    max-width: 120px;
    width: 100%;
    margin-top: 10px;
    transition: 0.3s;
    height: 120px;
}
.card img:hover{
    margin-top: 5px;
}
.card h1{
    font-size: 25px;
    font-weight: 600;
    padding: 0px 15px;
    text-align: center;
    text-align:left;
}
.card p{
   font-size: 18px;
   font-weight: 200;
   padding: 0px 15px;
   text-align:left;
   text-align:left;
}
.card span{
    text-align: right;
    margin-bottom: -12px;
    margin-right: 15px;
    color: red;
    font-weight: 900;
}

/* @media screen and (max-width:768px){
     .our-card{
        padding: 30px 0px;
        margin: 30px 30px;
    }
} 
@media screen and (max-width:750px){
     .our-card{
        padding: 30px 0px;
        margin: 30px 15px;
    }
}
@media screen and (max-width:720px){
    .our-card{
        padding: 30px 0px;
        margin: 30px 100px;
   }
}  
@media screen and (max-width:650px){
    .our-card{
        padding: 30px 0px;
        margin: 30px 70px;
   }
} 
@media screen and (max-width:590px){
    .our-card{
       margin:30px 40px;
   }
} 
@media screen and (max-width:530px){
    .our-card{
       margin:30px 20px;
   }
} 
@media screen and (max-width:490px){
    .our-card{
        margin-left: 25%;
   }
}  */

@media screen and (max-width:1024px) {
    .about-card{
        background-color: #13131a;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    .about-img{
        width: 100%;
    }
    .about-img img{
        width: 100%;
    }
    .about-text{
        width: 100%;
        padding: 30px ;
    }
}
@media screen and (max-width:912px){
  
    .about-text{
        padding: 30px;
    }
    .about-text h1{
         font-size: 28px;
    }
.about-text p{
          margin: 30px 0px;
          line-height:28px ;
    }
    .our-card{
        grid-template-columns: repeat(2,1fr);
    }
 
}

@media screen and (max-width:768px){
    .navbar ul  {
        display: none;
    }
    nav .fa-bars{
        display: block;
    }
    nav {
        position: relative;
    }
    .header .navbar ul{
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 30px 50px;
        position: absolute;
        top: 60px;
        left: -100%;
        background-color: white;
        width: 100%;
        /* height: calc(100vh - 60px); */
        height: 200px;
        transition: 0.3s;
    }
    .header .navbar .click{
        left: 0;
    }
    .about-text{
        padding: 25px;
    }
    .about-text h1{
         font-size: 25px;
    }
   .about-text p{
          margin: 25px 0px;
          line-height:25px ;
    }
    .our-card{
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media screen and (max-width:380px){
    .about-text{
        padding: 15px;
    }
    .about-text h1{
         font-size: 18px;
    }
.about-text p{
          margin: 15px 0px;
          line-height:25px ;
    }

}