*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
html{
        scroll-behavior: smooth;
}
body{
    background-color: rgb(160, 102, 102);
}
nav{
    display: flex;
    justify-content: space-between; 
}
.logo{
    display: flex;
    font-weight: 600;
    gap: 10px;
}
.logo img{
    width: 25px;
    margin-top: -5px;
}
.header nav {
    background-color: rgba(207, 207, 225, 0.816);
    padding: 20px 150px;
    position:fixed;
    width: 100%;
    z-index: 1;
}

.header .navbar ul{
    display: flex;
    gap: 30px;

}

.header .navbar ul li a{
    color:black;
    font-weight: 600;
    transition: 0.3s;

}
.header .navbar ul li a:hover{
    color: red;
}
nav .fa-bars {
    color: white;
    font-size: 20px;
    display: none;
}




.merry{
    padding: 50px 50px;
}

.title span:nth-child(2){
    color: white;
}
.merry-card{
    /* background-color: #2626a2; */
    display: flex;
    align-items: center;
    color: black;
    margin: 20px 100px;
}
.merry-img img{
    width: 100%;
    max-width: 400px;
}
.merry-text{
    width: 50%;
    padding: 40px ;
}
@media screen and (max-width:2142px) {
    .merry-text{
        width: 100%;
        max-width: 1000px;
        padding: 40px 200px;
    }
}
@media screen and (max-width:1534px) {
    .merry-text{
        width: 400px;
        padding: 40px 15px ;
    }
    .merry-card {
        margin: 20px;
    }

}
@media screen and (max-width:780px){
    .merry-text{
       margin-left: 30px;
    }
    .merry-text h1{
        margin: 20px 0px;
        width: 300px;
    }
    .merry-card {
        margin: 20px;
    }
    .navbar ul  {
    display: none;
    }
nav .fa-bars{
    display: block;
    }
nav {
    position: relative;
    }
.header .navbar ul{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px 50px;
    position: absolute;
    top: 60px;
    left:-100%;
    background-color: white;
    transition: 0.3s;
}
.header .navbar .click{
    left: 0;
    }

}
@media screen and (max-width:680px){
    .merry-text{
        margin: 5px 20px;
     }
     .merry-card{
        margin: 20px 20px;
        width: 550px;
        height: 350px;
    }
}
@media screen and (max-width:450px) {
   
    .merry-text{
        max-width: 320px;
        width: 100%;
        padding: 0 15px;

    }
    .merry-card .merry-text h1{
        font-size: 23px;
    }
    nav .fa-bars{
        padding-left:10%;
    }
    nav .logo {
        margin-left:-30px;
    }
}
@media screen and (max-width:350px){
    .merry-card{
        margin: 20px 10px;
        width: 200px;
    }
    .merry-card img{
        width: 200px;
        padding: 0px 10px;

    }
}

.merry-text h1{
    font-size: 30px;
    line-height:40px ;

}
.merry-text p{
    margin: 20px 0px;
    line-height:20px ;
   color: #5D5656;

}

button{
    border: none;
    background-color:rgb(212, 98, 98);
    color: white;
    padding: 14px 30px;
    text-transform: capitalize;
    transition: 0.3s;
    border-radius: 20px;

}


.title{
    text-align: center;
    font-size: 25px ;
    padding: 10px 10px;
    font-weight: 800;
    color: black;
}
.giving-start{
    margin:0px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}
.giving-start .card{
    padding: 15px 10px;
    width: 200px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.card-img{
    text-align: center;
    height: 150px;
}
.card-start img{
    max-width: 90px;
    width: 100%;
    margin-top: 15px;
    transition: 0.3s;
    height: 90px;
}
.card-start img:hover{
    margin-top: 5px;
}
.giving-start .card-start h1{
    font-size: 20px;
    font-weight: 600;
}
.giving-start .card-start p{
   font-size: 13px;
   font-weight: 200;
   padding:  5px 10px;
   margin-left: 0px;
   text-align:center;
   width: 150px;
   height: 50px;
   color: #5D5656;
}
.giving-start img:hover{
    margin-top: 5px;
}
.giving-start h1{
    font-size: 25px;
    font-weight: 600;
    padding: 0px 15px;
    text-align:center;
}


.title{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.celebrate{
    padding: 50px 50px;
}
.title span:nth-child(2){
    color: white;
}
.celebrate-card{
    display: flex;
    align-items: center;
    color: white;
}
.celebrate-img img{
    max-width: 400px;
    width: 100%;
}
.celebrate-text{
    width: 50%;
    padding: 40px ;
    color: black;
    margin-left: 10%;
}
.celebrate-text h1{
    font-size: 24px;
    margin: 0px 0px 0px 24px;
    /* padding: 0px 320px 0px 0px ; */
    width: 200px;
    height: 50px;
}
.celebrate-text p{
    font-size: 16px;
    margin: 20px 0px 40px 24px;
    line-height:18px ;
    /* padding: 0px 212px 0px 24px ; */
    width: 300px;
    height: 50px;
   color: #5D5656;

}

.celebrate-text button{
    border: none;
    background-color:rgb(212, 98, 98);
    color: white;
    padding: 14px 30px;
    text-transform: capitalize;
    transition: 0.3s;
    border-radius: 20px;
    margin: 20px 0px 40px 24px;

}
button:hover{
    /* letter-spacing: 3px; */
    background-color: red;
}




.title{
    text-align: center;
    font-size: 25px ;
    margin-top: 15px;
    font-weight: 800;
    color: black;
}
.gift-card{
    margin:0px 80px;
    margin-left: 190px;
    padding:50px 150px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 45px;
}
.gift-card .card{
    padding: 15px 10px;
    width: 200px ;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow:0px 0px 15px rgb(217, 244, 246);
    border: 0px solid rgb(177, 205, 216);
    color: white;
}
.gift-img{
    text-align: center;
    height: 160px;
}
.card img{
    max-width: 120px;
    width: 100%;
    margin-top: 10px;
    transition: 0.3s;
    height: 120px;
}
.card img:hover{
    margin-top: 5px;
}
.card h1{
    font-size: 25px;
    font-weight: 600;
    padding: 0px 15px;
    text-align: center;
    text-align:left;
}
.card p{
   font-size: 18px;
   font-weight: 200;
   padding: 0px 15px;
   text-align:left;
   text-align:left;
}
.card span{
    text-align: right;
    margin-bottom: -12px;
    margin-right: 15px;
    color: red;
    font-weight: 900;
}



.table{
    background-color: rgba(178, 44, 62, 0.918);
    margin: 100px 150px;
    border-radius: 60px;
    height: 350px;
    display: flex;
    align-items: center;
    position: relative;
}
.table img{
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 20px ;
    right: 30px;
}
.table-text{
    width: 50%;
    padding: 40px ;
    color: black;
    margin-left: 10%;
}
.table-text h1{
    color: white;
    width: 250px ;
    height: 50px;
    font-size: 36px;
}
.table-text input{
    margin: 25px 0px;
    margin-top: 35px;
    padding: 16px 24px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: white;
    font-size: 16px;
}
.table-text button{
    border-radius: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
}



.footer .display{
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
    text-align: left;
}
.display h1 p{
    font-weight:400 ;
    text-align: left;
    padding: 0px 20px;
    line-height: 25px;
    margin-top: 25px;
   color: #5D5656;

}
.footer .display h1  .footer-img{
    width: 120px;
    height: 135px;   
    margin: 60px 30px;
}
.footer .display h1  .foot{
    margin-top: 25px;
}
.footer .display #footer-img1{
    margin-top: -80px;
    margin-left: 150px;
}

@media screen and (max-width:1268px){
    .gift-card{
        margin:0px 10px;
        display: flex;
        align-items:center;
        flex-direction: row;
        gap: 40px;
    }
}
@media screen and (max-width:780px){
    .gift-card{
        margin-left:-20px;
        display: flex;
        align-items:center;
        flex-direction: row;
        gap: 40px;
    }

}
@media screen and (max-width:730px){
    .gift-card{
        padding: 0px 100px;
        gap: 40px;
    }
}
@media screen and (max-width:640px){
    .gift-card{
        padding: 10%;
        gap: 40px;
    }
}
@media screen and (max-width:540px){
    .gift-card{
        padding: 0 20px;
        gap: 10px;
        margin-left: 10%;
        margin: 0 20px;
    }
   
}


.mr{
    text-align: center;
    border: 1px dashed red;
    display:block;
    color: rgb(37, 2, 15);
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 15px;
    background-color: rgb(37, 139, 139);
}